@import './registration/registration.scss';

.navigation {
  width: 44vw;
  max-width: 852px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  
  &__link-wrapper {
    display: flex;
    column-gap: 1vw;
    align-items: center;
  }

  &__link {
    @include heading-5(16px);
    text-transform: uppercase;
    border: 5px solid transparent;
    border-radius: $button-bord-rad;
    padding: 4px;
    transition: $transition-durations-main;

    &:hover {
      @include button-active();
    }
  }

  &_first-link {
    li:first-child {
      color: $text-color-main;

      &:hover {
        @include button-active();
      }
    }
  }
}


