.testimonials-container {
  overflow: hidden;
  width: calc(
    px2vw($testimonials-card-w) * 2 + 
    px2vw($testimonials-card-margin-left) * 2 +
    $testimonials-container-padding
    ); //visible 2 card, 
    //$testimonials-container-padding >= testimonials-card-shad: blur-radius/ I need display right shadow 

  padding: $testimonials-container-padding 0;

  &__strip {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc( 
      px2vw($testimonials-card-w) * 5 + 
    ($testimonials-card-margin-left * 5)
    ); //5 card
  }

  &__card {
    width: px2vw($testimonials-card-w);
    box-shadow: $testimonials-card-shad;
    border-radius: $testimonials-card-bord-rad;
    margin-left: $testimonials-card-margin-left;
  }
}