.testimonials-container {
  overflow: hidden;
	text-align: left;
	padding: 42px 0;
  // width: calc( 
	// 	(px2vw(65px) + px2vw(42px) + px2vw(39px) + px2vw($testimonials-card-w)) * 2
  // ); 
	//visible 2 card, 
	//65px - half-img-width
	//42px - right shadow
	//39px - length between shadow and next card
	//40px - padding right and left

  &__strip {
    position: relative;
		left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc( 
			(px2vw(65px) + px2vw(42px) + px2vw(39px) + px2vw($testimonials-card-w)) * 7
    ); //5 card

		&_transition {
			transition: $transition-durations-main;
		}
  }

  &__card {
		position: relative;
    width: px2vw($testimonials-card-w);
    box-shadow: $testimonials-card-shad;
    border-radius: $testimonials-card-bord-rad;
		padding: 41px 2vw 60px 100px;
		margin-right: px2vw(81px);
		margin-left: 65px;

		&::after {
			@include pseudo-elem();
			content: '”';
			font-size: 96px;
			color: $page-decore-color-additional;
			font-family: 'Basic Sans Sf Bold';
			top: 18%;
			left: 85%;
		}
  }

	&__heading :first-child {
		@include heading-4();
		line-height: normal;
		margin-bottom: 10px;
	}

	#testimonials-card-1::before {
		@include pseudo-elem-img("/common.blocks/testimonials/testimonials-container/Pichai-Sundararajan.jpg");
	}

	#testimonials-card-2::before {
		@include pseudo-elem-img("/common.blocks/testimonials/testimonials-container/Rekha-Varadwaz.jpg");
		background-position: center;
	}

	#testimonials-card-3::before {
		@include pseudo-elem-img("/common.blocks/testimonials/testimonials-container/Timothy-Cook.jpg");
	}

	#testimonials-card-4::before {
		@include pseudo-elem-img("/common.blocks/testimonials/testimonials-container/Elon-Musk.jpg");
	}

	#testimonials-card-5::before {
		@include pseudo-elem-img("/common.blocks/testimonials/testimonials-container/Satya-Nadella.jpg");
	}
}