@import './logo/logo.scss';
@import './navigation/navigation.scss';
@import './progress-bar/progress-bar.scss';

.header {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.6vh;
  margin-top: 8vh;
  background-color: $page-bg-color-main;

  &::before {
    @include pseudo-elem();
    height: 100%;
    left: -$page-main-left-padding;
    width: $page-main-left-padding;
    background-color: $page-bg-color-main;
  }

  &::after {
    @include pseudo-elem();
    height: 100%;
    left: 100%;
    width: $page-main-left-padding;
    background-color: $page-bg-color-main;
  }
}