.our-design {
  &__container {
    width: 37.2vw;
    height: 613.3px;
    border-radius: 140px 0px;
    border: 2px solid $page-decore-color-additional;
  }

  &__img-wrap {
    @extend .our-design__container;
    @include background-image("/common.blocks/hero/our-design/design.png");
    border: 0;
    position: relative;
    bottom: 35px;
    right: 36px
  }
}