.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background-color: $page-bg-color-additional;
	display: flex;
  justify-content: center;
  align-items: center;

	&_disappearance {
		animation: disappearance 1s linear 0s 1 normal none;
	}

	&__loader {
		display: flex;
		column-gap: 2vw;
	}

	&__icon-table {
		@include loader-icon('/common.blocks/overlay/table.svg');
		animation: loader-1-item 2.5s ease-in-out 0s infinite normal none;
	}

	&__icon-chair {
		@include loader-icon('/common.blocks/overlay/chair.svg');
		animation: loader-2-item 2.52s ease-in-out 0s infinite normal none;
	}

	&__icon-closet {
		@include loader-icon('/common.blocks/overlay/closet.svg');
		animation: loader-3-item 2.54s ease-in-out 0s infinite normal none;
	}

	&__icon-lamp {
		@include loader-icon('/common.blocks/overlay/lamp.svg');
		animation: loader-4-item 2.52s ease-in-out 0s infinite normal none;
	}

	&__icon-couch {
		@include loader-icon('/common.blocks/overlay/couch.svg');
		animation: loader-5-item 2.5s ease-in-out 0s infinite normal none;
	}
}


