@media screen and (max-width: 1599.9px) {
  .navigation {
    column-gap: 1rem;

    &__link-wrapper {
      display: flex;
      column-gap: 1.5vw;
      flex-wrap: wrap;
    }
  }

  .work-achives__vector {
    transform: scaleY(2);
    top: 45%;
  }

	.years-on-market__big-years {
		font-size: 220px;
	}

	.testimonials-container__card {

		&::after {
			top: 10%;
			left: 75%;
		}
	}
}