/*Fonts and Typography*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600&family=Raleway:wght@500&display=swap');

$Open-Sans: 'Open Sans', 'Times New Roman', sans-serif;
$Poppins: 'Poppins', 'Times New Roman', sans-serif;
$Raleway: 'Raleway', 'Times New Roman', sans-serif;

/*Colors*/
$page-bg-color-main: #fff;
$page-bg-color-additional: #f8f8f8;

$buttons-color-main: rgb(55, 128, 107);
$page-decore-color-main: #CAA892;
$page-decore-color-additional: #B0855B;

$heading-color-main: #212121;
$text-color-main: #646464;

/*Scrollbar */
$scrollbar-width: 17px;

/*Border radius*/
$content-bord-rad: 90px 0px;
$registr-bord-rad: 15px 0px;
$cta-bord-rad: 20px 0px;
$filtr-bord-rad: 20px;


