@import './variables';
@import './mixins';
@import './functions';
@import './animations';

@import '../common.blocks/overlay/overlay.scss';
@import '../common.blocks/header/header.scss';
@import '../common.blocks/hero/hero.scss';
@import '../common.blocks/service/service.scss';

@import '../main-styles/flexible_1600';

.body {
  color: $text-color-main;
  font-family: $Open-Sans;
  font-weight: 400;
  line-height: 30px;
  background-color: $page-bg-color-main;
  width: 100%;
  padding: 0 13.4%;
}

.main-wrap {display: none;}

h1 {
  font-family: $Poppins;
  font-weight: 600;
  font-size: 72px;
  line-height: 90px;
  color: $heading-color-main;
  text-transform: capitalize;
}

h2 {
  font-family: $Poppins;
  font-weight: 500;
  font-size: 48px;
  line-height: 78px;
  color: $heading-color-main;
  text-transform: capitalize;
}

h3 {
  font-family: $Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $text-color-main;
  text-transform: uppercase;
}

h4 {
  font-family: $Open-Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 78px;
  color: $heading-color-main;
  text-transform: capitalize;
}

h5 {
  @include heading-5(24px);
}





















