@import './variables';
@import './mixins';
@import './functions';
@import './animations';

@import '../common.blocks/overlay/overlay.scss';
@import '../common.blocks/header/header.scss';
@import '../common.blocks/hero/hero.scss';
@import '../common.blocks/service/service.scss';
@import '../common.blocks/about-us/about-us.scss';
@import '../common.blocks/completed-work/completed-work.scss';
@import '../common.blocks/testimonials/testimonials.scss';
@import '../common.blocks/news/news.scss';
@import '../common.blocks/sign-up/sign-up.scss';
@import '../common.blocks/footer/footer.scss';
@import '../common.blocks/surprize/surprize.scss';
@import '../common.blocks/user-afk/user-afk.scss';

@import '../main-styles/flexible_1600';
@import '../main-styles/flexible_1000';

.body {
  color: $text-color-main;
  font-family: $Open-Sans;
  font-weight: 400;
  line-height: 30px;
  background-color: $page-bg-color-main;
  width: 100%;
}

.main-wrap { 
  display: none;
  padding-left: $page-main-left-padding;
  padding-right: $page-main-left-padding;
}

h1 {
  font-family: $Poppins;
  font-weight: 600;
  font-size: 72px;
  line-height: 90px;
  color: $heading-color-main;
  text-transform: capitalize;
}

h2 {
  font-family: $Poppins;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  color: $heading-color-main;
  text-transform: capitalize;
}

h3 {
  font-family: $Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $text-color-main;
  text-transform: uppercase;
}

h4 {
	@include heading-4();
}

h5 {
  @include heading-5(24px);
}




