@import './sign-form/sign-form.scss';

.sign-up {
	@include section-full-width();
	background-color: $page-bg-color-main;
	text-align: center;
	padding: 80px 0 100px 0;

	&__heading {
		letter-spacing: 3.84px;
	}

	&__horizontal-line {
		border: 1px solid $hr-color-main;
		margin: 40px auto;
		width: px2vw(461px);
	}

	&__description {
		width: px2vw(647px);
		font-size: 18px;
		margin: 0 auto;
	}

	&_decore {
		@include background-decore("/images/background-decore-split.svg");
		width: 212px;
		height: 153px;
    transform: translateY(-50%);
		left: initial;
    right: 4px;
	}
}