@import './news-container/news-container.scss';

.news {
	text-align: center;
	@include section-full-width();
	padding: 90px 0;

	&__heading {
		color: $heading-color-additional;
		margin-bottom: 80px;
	}
}