.filtr {
  display: flex;
  padding: 20px 0 40px 0;

  &__button{
    @include button(207px, 46px);
    border-radius: $filtr-bord-rad;
    margin-right: 5vh;

    &:last-child {
      margin-right: 0;
    }
  }

  &_active {
    @include buttonActive();
  }
}