.filtr {
  display: flex;
  padding: 20px 0 40px 0;

  &__button{
    @include button(207px, 46px);
    border-radius: $button-bord-rad;
    border-width: calc($button-bord-rad / 1.2); //hehe nice effect)
    margin-right: 5vh;

    &:last-child {
      margin-right: 0;
    }
  }

  &_active {
    @include button-active();
  }
}