.registration {
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    @include cta(107px, 41px);
    background-color: $page-decore-color-main;
    font-weight: 600;
    border: 5px solid $page-decore-color-main;
    padding: 4.9px 18.97px;
    text-transform: capitalize;
    border-radius: $registr-bord-rad;
  }
}

